<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FreeMindIconCodeToUnicode</key>
        <dict>
            <key>closed</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>stop</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>prepare</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>go</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>kmail</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>wizard</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>licq</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>freemind_butterfly</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>broken-line</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag-blue</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag-green</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag-orange</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag-pink</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>flag-yellow</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>fema</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>group</key>
            <dict>
                <key>kind</key>
                <string>pdf</string>
                <key>filename</key>
                <string>dummy.pdf</string>
                <key>supported</key>
                <false/>
            </dict>
            <key>list</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📋</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>idea</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>💡</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>help</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>❔</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>yes</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>❕</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>messagebox_warning</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⚠</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>stop-sign</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🚧</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>info</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>ℹ</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>button_ok</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>✔</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>button_cancel</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>✘</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-1</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>1⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-2</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>2⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-3</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>3⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-4</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>4⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-5</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>5⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-6</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>6⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-7</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>7⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-8</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>8⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-9</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>9⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>full-0</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>0⃣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>back</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⬅</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>forward</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>➡</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>up</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⬆</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>down</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⬇</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>attach</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📎</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>ksmiletris</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>😄</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>smiley-neutral</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>😌</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>smiley-oh</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>😳</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>smiley-angry</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>😡</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>smily_bad</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>😞</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>clanbomber</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>💣</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>desktop_new</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>💼</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>gohome</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🏠</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>folder</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📁</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>korn</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📫</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>Mail</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📩</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>edit</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📝</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>kaddressbook</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📞</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>knotify</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🎵</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>password</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🔑</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>pencil</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>✎</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>xmag</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🔍</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>bell</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🔔</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>bookmark</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⭐</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>penguin</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🐧</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>calendar</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>📆</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>clock</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🕐</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>hourglass</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⏳</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>launch</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🚀</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>flag-black</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>⚑</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>family</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>👫</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>female1</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🙆</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>female2</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>💁</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>male1</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🚶</string>
                <key>supported</key>
                <true/>
            </dict>
            <key>male2</key>
            <dict>
                <key>kind</key>
                <string>unicode</string>
                <key>value</key>
                <string>🏃</string>
                <key>supported</key>
                <true/>
            </dict>
        </dict>
    </dict>
</plist>
